body {
  width: 744px;
  margin: 5% auto;
  font-family: Arial, sans-serif;
}
@font-face {
  font-family: 'Redacted Script';
  src: url('/lib/redacted-font/fonts/web/redacted-script-regular.eot');
  src: url('/lib/redacted-font/fonts/web/redacted-script-regular.eot?#iefix') format('embedded-opentype'),
  url('/lib/redacted-font/fonts/web/redacted-script-regular.woff') format('woff'),
  url('/lib/redacted-font/fonts/web/redacted-script-regular.ttf') format('truetype'),
  url('/lib/redacted-font/fonts/web/redacted-script-regular.svg#redacted_scriptregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
html {
  background: #f5f5f5;
}
.product-aggregator {
  padding: 16px;
  background: white;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.26);
  border-radius: 2px;
}
.product-chooser-dropdown {
  font-size: 1rem;
}
.product-description {
  font-size: 1.5em;
  font-family: "Redacted Script";
  line-height: 1em;
  color: #333;
}
.product-image {
  display: block;
  width: 712px;
  height: 400px;
}
.product-price {
  font-size: 1.9em;
  color: #26a69a;
}
.product-viewer__title {
  margin-bottom: 10px;
}

.product-viewer > .product-price {
  display: block;
  margin-bottom: 10px;
}
.star-rating {
  color: #ffc107;
  font-size: 1.5em;
}

.star-rating__star.is-full:before {
  content: "★";
}

.star-rating__star.is-empty:before {
  content: "☆";
}